{% extends 'account/base.html' %}
{% load static %}

{% block content %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
  {% endfor %}
{% endif %}


<div class="container bg-white shadow-md p-5 form-layout">
    <h5 class>Welcome, {{ user.first_name }}</h5>
    <br><br>
    <h3 class ="header">Your Articles</h3>
    <ul>
        {% if articles %}
            {% for article in articles %}
                <li>
                    <!-- Link to published.html with anchor to the specific article -->
                    <a href="{% url 'published' %}#article-{{ article.id }}">{{ article.title }}</a>

                    <!-- Delete Article Form -->
                    <form action="{% url 'delete-article' article.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button class="btn btn-link" type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        {% else %}
            No articles found. <a href="{% url 'create-article' %}">Create your first article</a>
        {% endif %}
    </ul>
</div>

{% endblock %}
