{% load static %}
<html lang="en">
<head>
    <title>❌ DELETED ARTICLE</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="success-container bg-white shadow-md p-4 col-md-6 col-lg-4 text-center rounded">
        <h3 class="mb-4">The article has been deleted successfully.</h3>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        
        <a href="{% url 'published' %}" class="btn btn-dark mt-3">Return to Published Articles</a>
    </div>
</div>

</body>
</html>
