{% extends 'creator/navbar.html' %}
{% load static %}
{% block content %}


<div class="container col-md-8 col-lg-6 bg-white shadow-md p-5 rounded-3">
    <div class="row justify-content-center">
            <h3>Confirm deletion:</h3>

            <hr>
            
            <br>

                {% csrf_token %}
            
                <br>
                <input class="btn btn-danger" type="submit" value="Delete article"/>
        
            <hr>
        <a href="{% url 'published' %}"> Return to published articles</a>

        </div>
    </div>
{% endblock %}