{% extends 'creator/navbar.html' %}
{% block content %}
<br>
<div class="container bg-white shadow-md p-5 form-layout">
    <h3>Account Deleted</h3>

    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <p>Your account has been successfully deleted.</p>
    <br>
    <a href="{% url 'home' %}" class="btn btn-primary w-100">Return to Harvest</a>
</div>
<br>
{% endblock %}
