{% load static %}
<html lang="en">
<head>
    <title>UPDATED ARTICLE</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="success-container bg-white shadow-md p-4 col-md-6 col-lg-4 text-center rounded">
        
        {% if messages %}
            {% for message in messages %}
                {% if 'update' in message.tags %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if article.updated_by and article.updated_by != article.user %}
            <div class="alert alert-info">
                <strong>Last updated by:</strong> {{ article.updated_by.get_full_name|default:article.updated_by.username }}  
                <br>
                <strong>Updated at:</strong> {{ article.updated_at|date:"F d, Y H:i" }}
            </div>
        {% endif %}
        
        <a href="{% url 'published' %}" class="btn btn-dark mt-3">Return to Published Articles</a>
    </div>
</div>

</body>
</html>
