cloudinary==1.43.0
crispy-bootstrap5==2024.10
dj-database-url==0.5.0
Django==4.2.8
django-ckeditor-5==0.2.17
django-cloudinary-storage==0.3.0
django-crispy-forms==2.3
gunicorn==20.1.0
Markdown==3.7
psycopg2==2.9.10
psycopg2-binary==2.9.10
requests==2.32.3
tzdata==2025.1
urllib3==1.26.20
whitenoise==6.9.0
