asgiref==3.8.1
cachetools==5.5.2
cloudinary==1.36.0
coverage==7.6.12
crispy-bootstrap5==2024.10
cryptography==44.0.1
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.6
Django==4.2.8
django-allauth==0.57.2
django-crispy-forms==2.3
django-resized==1.0.3
django-storages==1.14.5
django-utils-six==2.0
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
gunicorn==20.1.0
httplib2==0.22.0
Markdown==3.7
oauthlib==3.2.2
packaging==24.2
pillow==11.1.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python3-openid==3.2.0
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.3
tzdata==2025.1
urllib3==1.26.20
whitenoise==6.9.0
