{% extends 'account/base.html' %}

{% block content %}
<br>

<div class="container bg-white shadow-md p-5 form-layout header">

    <h5>Welcome, {{ user.first_name }}</h5>

    <div class="mt-4">
        You can now access the latest articles to get the latest updates on the latest popups and local events in Brighton!<br>
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-link" href="{% url 'regular-articles' %}">View Current Articles</a>
    </div>

</div>
{% endblock %}
