{% extends 'account/base.html' %}

{% block content %}

<div>Total articles fetched: {{ AllArticles|length }}</div>
{% for article in AllArticles %}
    {% if article.is_published %}
        <div class="container mt-3 bg-white shadow p-5 mb-3" style="max-width: 75%;">
            
            <h3 class="mb-3">{{ article.title }}</h3>
            
            <!-- Article Content -->
            <div class="mb-3">{{ article.content|safe }}</div>

            <!-- Article Image -->
            {% if article.image %}
                <img src="{{ article.image.url }}" alt="Article Image" class="img-fluid mt-4 mb-3">
            {% endif %}

            <div class="mb-3 text-muted">
                Published on: {{ article.pub_date|date:"F d, Y H:i" }}
            </div>

            <!-- Event Info -->
            {% if article.is_event_related %}
                <div class="border-top pt-3">
                    <h5 class="fw-bold mb-2">Event Details</h5>
                    <p class="mb-1"><span class="fw-bold">Event:</span> {{ article.event_name }}</p>
                    <p class="mb-1"><span class="fw-bold">Date & Time:</span> {{ article.event_date|date:"F d, Y H:i" }}</p>
                    <p class="mb-1"><span class="fw-bold">Venue:</span> {{ article.event_venue }}</p>
                    <p class="mb-1"><span class="fw-bold">Location:</span> {{ article.event_location }}</p>
                    <p class="mb-1"><span class="fw-bold">Postcode:</span> {{ article.event_postcode }}</p>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% empty %}
    <p>No published articles available.</p>
{% endfor %}

{% endblock %}
