{% extends 'account/base.html' %}

{% block content %}


<div>Total articles fetched: {{ AllArticles|length }}</div>

{% for article in AllArticles %}
    {% if article.is_published %}
    <div class="container mt-3 bg-white shadow p-5 mb-3" style="max-width: 80%;">
            <h3 class="header">{{ article.title }}</h3>
            <div class="header">{{ article.content|safe }}</div>

            {% if article.image %}
                <img src="{{ article.image.url }}" alt="Article Image" style="max-width: 100%; height: auto;">
            {% endif %}

            <div class="header">{{ article.pub_date|date:"F d, Y H:i" }}</div>
        </div>
        <br>
    {% endif %}
{% empty %}
    <p>No published articles available.</p>
{% endfor %}

{% endblock %}
