{% extends 'account/base.html' %}
{% block content %}

<div class="container mt-2 bg-white shadow p-5 mb-6" style="max-width: 90%;">

    <h1 class="fw-bold">{{ article.title }}</h1>
    <span class="text-muted header">Published on {{ article.pub_date|date:"F j, Y" }}</span>
    <hr>

    <div class="text-center"> <!-- Center the image -->
        <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid w-80 rounded mb-3">
    </div>
    <div class="header fs-4">{{ article.content|safe }}</div>
    {% if article.is_event_related and article.event_date %}
        <div class="event-info bg-light p-4 rounded mb-4 fs-4">
            <h3 class="mb-3">Event Details</h3>
            <div class="row">
                <div class="col-md-6">
                    {% if article.event_date %}
                        <p class="fw-bold"><strong><b>Date:</b></strong> {{ article.event_date|date:"F d, Y H:i" }}</p>
                    {% endif %}
                    {% if article.event_name %}
                        <p class="fw-bold"><strong><b>Event Name:</b></strong> {{ article.event_name }}</p>
                    {% endif %}
                    {% if article.event_venue %}
                        <p class="fw-bold"><strong><b>Venue:</b></strong> {{ article.event_venue }}</p>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if article.event_location %}
                        <p class="fw-bold"><strong><b>Address:</b></strong> {{ article.event_location }}</p>
                    {% endif %}
                    {% if article.event_postcode %}
                        <p class="fw-bold"><strong><b>Postcode:</b></strong> {{ article.event_postcode }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}


</div>

{% endblock %}
