{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="container bg-white shadow-md p-5 form-layout">
    <h3>Delete Account</h3>
    <p>Are you sure you want to delete your account? This action is irreversible.</p>
    <br>
    <form method="POST">
        {% csrf_token %}
        <button class="btn btn-danger w-100" type="submit">Delete My Account</button>
    </form>
    <br>
    <a href="{% url 'manage-account' %}" class="btn btn-secondary w-100">Cancel</a>
</div>
<br>
{% endblock %}





