{% extends 'account/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="container bg-white shadow-md p-5 form-layout">
    <h3>Account details</h3>
    <p>You may update your account details below:</p>
    <br>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ UpdateUserForm|crispy }}
        <br>
        <input class="btn btn-success w-100" type="submit" value="Update details">
    </form>
</div>

<br>
<div class="container bg-white shadow-md p-5 form-layout">
    <h3>Cancel Your Subscription</h3>
    <hr>
    <p>Proceed below to delete your account:</p>
    
    <form method="POST" action="{% if request.user.is_creator or request.user.is_superuser %}{% url 'delete-account' %}{% else %}{% url 'delete-account-client' %}{% endif %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Your Account</button>
    </form>
</div>

<br>
{% endblock %}
