{% load static %}

<html> 
<head>

    <title> HARVEST </title>


    <meta charset="utf-8" />

    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>


    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">


    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">


</head>

    <div class="container bg-white shadow-md p-5 form-layout">

    <h1 class="header">Login</h1>
    
    <form method="POST" autocomplete="off">

      {% csrf_token %}

      {{ LoginForm.as_p }}

      <input type="submit" value="Submit"/>

    </form>

</html>    
