{% load static %}

<html lang="en">

<head>
  <title>HARVEST</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <a class="navbar-brand main-heading" href="#">
      <img src="{% static 'logo/harvest_local.png' %}" alt="Harvest" width="220">
    </a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        {% if not hide_register %}
        <li class="nav-item">
          <a class="btn btn-primary" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
        {% if not hide_login %}
        <li class="nav-item">
          <a class="btn btn-primary" href="{% url 'my-login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>

        {% endif %}
      </ul>
    </div>
  </nav>

  {% block content %}
  
  {% endblock %}

</body>

</html>
