{% load static %}
{% load crispy_forms_tags %}

<html>

<head>
    <title> Register </title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% include 'account/navbar.html' with hide_register=True %}

    <div class="container bg-white shadow-md p-5 form-layout">
        <h1 class="header">Register</h1>
        <form method="POST" autocomplete="off">
            {% csrf_token %}

            <h4 class="header">Registration Type</h4>
            <div class="mb-3">
                {{ RegisterForm.is_creator|as_crispy_field }}
            </div>
            <div class="mb-3">
                {{ RegisterForm.unlimited_access_membership|as_crispy_field }}
            </div>

            {{ RegisterForm.email|as_crispy_field }}
            {{ RegisterForm.first_name|as_crispy_field }}
            {{ RegisterForm.last_name|as_crispy_field }}
            {{ RegisterForm.password1|as_crispy_field }}
            {{ RegisterForm.password2|as_crispy_field }}

            <input class="register-btn" type="submit" value="Submit" />
        </form>
    </div>
</body>

</html>
