body{

  background-color: #f0f0f0;
  overflow-x: hidden;
}
.form-layout{

  width: 500px;
  border-radius: 20px;
}
.login-btn:hover {
  background-color: #f0f0f0; 
  color: #000; 
}
.register-btn {
background-color: #008b8b;
color: #fff;
text-transform: uppercase;
padding: 15px 35px;
font-size: 14px;
font-weight: bold;
border-radius: 2px;
text-decoration: none;
display: inline-block;
text-align: center;
margin: 5px;
margin-top: 20px;
}

.register-btn:hover {
background-color: #005f5f; /* Hover color */
color: #fff;
}
.header {
  margin-top: 20px;
  margin-bottom: 40px; 
}
form p:last-of-type {
  margin-bottom: 40px; /* Adds space below the last form field */
}
