/* General body styles */
body {
  background-color: #e9fcf8;
  overflow-x: hidden;
}

/* Form Layout */
.form-layout {
  width: 90%;
  max-width: 800px;
  border-radius: 8px;
  margin: 20px auto 30px;
  border: 1px solid #ddd;
  background-color: #ffffff;
  padding: 20px;
}

/* Login Button */
.login-btn {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 5px;
  border: 2px solid #333;
  margin-top: 20px;
}

.login-btn:hover {
  background-color: #b1e2e0;
  color: #000;
}

/* Register Button */
.register-btn {
  background-color: #008b8b;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 35px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: 5px;
  margin-top: 20px;
}

.register-btn:hover {
  background-color: #005f5f;
  color: #fff;
}

/* Header */
.header {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Form field spacing */
form p:last-of-type {
  margin-bottom: 40px;
}

/* Success Container */
.success-container {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.success-container h1 {
  color: #4CAF50;
  margin-bottom: 20px;
}

.success-message {
  font-size: 1.2em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.success-message span {
  font-weight: bold;
}
.article-image {
  width: 100% !important;
  max-height: 400px !important;
  object-fit: cover !important;
  border-radius: 8px !important;
  margin-bottom: 15px !important;
}
